footer.px-3.py-4.bg-dark.text-light
  p.m-0 BooksApp was created by Warsaw Group during
    a.text-info.pl-2(href="https://coderscamp.edu.pl") Coderscamp 2019.
  p.m-0 More info and source code
    a.text-info.pl-2(href="https://github.com/dobrzyckahanna/BookStore") here.
  p.m-0 ©All Rights Reserved, 2019
