button.navbar-toggler(type="button", data-toggle="collapse", data-target=".multi-collapse", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
  span.navbar-toggler-icon
a.navbar-brand.logo.text-dark(href="/") BooksApp
