section.content
  .top-ten.px-3.py-5
    .box  
      h2.bg-info.text-white.py-3.mb-5 Top 10 books
    .row.justify-content-center
      each bookItem in top10books
        .col-md-6.col-lg-4.pb-3
          .card.w-100.h-100.border-info
            .card-header.h5 #{bookItem.book.title}
            .card-body 
              p.card-text #{bookItem.book.author}
              p.card-text #{bookItem.avarageNote}
            .card-footer
              a(href='/api/books/' + bookItem.book._id).btn.btn-info More...