//- variables transferred from index.js
#{name}
#{isEditor}

if(!name)
    nav.nav.justify-content-end.align-items-center
        a(href='/').display-4.logo.flex-grow-1.text-left.text-dark.p-4 BooksApp
        ul.nav.justify-content-between.mr-3
            li.nav-item.btn.btn-warning.mr-2
                a(href='/api/auth').nav-link.font-weight-bold.text-dark Login
            li.nav-item.btn.btn-warning.mr-2
                a(href='/api/users').nav-link.font-weight-bold.text-dark Register
    p.text-right.mr-4.mb-0.font-weight-bold Hey, logged-in users can do more!
    p.text-right.mr-4.mt-2 Register today to get access to rating and reviewing books!

else if(isEditor === false) 
    nav.nav.justify-content-end.align-items-center
        a(href='/').display-4.logo.flex-grow-1.text-left.text-dark.p-4 BooksApp
        ul.nav.justify-content-between.mr-3
            li.nav-item.btn.btn-warning.mr-2
                a(href='#').nav-link.font-weight-bold.text-dark My profile
            li.nav-item.btn.btn-warning.mr-2
                a(href='#').nav-link.font-weight-bold.text-dark Sign out
    p.text-right.mr-4.mb-0.font-weight-bold Hello #{name}! You are now logged in as a
       span.badge.badge-success.ml-2 Reader
    p.text-right.mr-4.mt-2 Users with Editor's status can edit books. Contact us if you are interested!

else if(isEditor === true) 
    nav.nav.justify-content-end.align-items-center
        a(href='/').display-4.logo.flex-grow-1.text-left.text-dark.p-4 BooksApp
        ul.nav.justify-content-between.mr-3
            li.nav-item.btn.btn-warning.mr-2
                a(href='#').nav-link.font-weight-bold.text-dark My profile
            li.nav-item.btn.btn-warning.mr-2
                a(href='#').nav-link.font-weight-bold.text-dark Sign out
    p.text-right.mr-4.mb-0.font-weight-bold Hello #{name}! You are now logged in as an
       span.badge.badge-success.ml-2 Reader
       span.badge.badge-danger.ml-2 Editor
    p.text-right.mr-4.mt-2 Thanks for your support to the BooksApp community!