footer.p-4.bg-dark.text-light
  p.m-0 BooksApp was created by Warsaw Group during Coderscamp 2019. More info and source code  
    a(href="https://github.com/dobrzyckahanna/BookStore").text-light here.
  p.m-0 ©All Rights Reserved, 2019