header.p-3.border.border-secondary
    h2.display-4.p-3 Let's talk about books
    p.lead Check this great tool for organizing and rating books!
    div.border.rounded-circle.d-flex.flex-column.justify-content-center Get all books!
