header.border.border-secondary.bg-info
    h2.display-4.my-4 Let's talk about books
    h5.my-4 Check this great tool for organizing and rating books!
    div.d-flex.flex-column.justify-content-center.bg-light.border.rounded-circle
        a(href='/api/books').text-dark Get all books!
    div.search-books.py-5.m-0.bg-dark.d-flex.flex-row.justify-content-center
        div.form-row.py-2.input-group.justify-content-center    
            form(method='POST', action='/api/search')
                div.input-group-prepend
                    input.form-control(name="term" type='text' placeholder='Search...')
                    input.btn.btn-warning(type="submit" value='Search')