doctype html
html(lang='en')
  include includes/head.pug
  body.text-dark.wrapper
    div.bg-light.container

      include includes/dashboard.pug

      include includes/header.pug

      include includes/top10books.pug

      include includes/footer.pug

    include includes/external-scripts.pug