extends userFormBase

block title
  | Register

block dashboard-message
  | Register today to get access to rating and reviewing books!

block user-form  
  form(method='POST', action='/api/users')
    div.form-group
      label Name:
      input.form-control(name='name', type='text', placeholder='Enter your name', required)
    div.form-group
      label Email:
      input.form-control(name='email', type='email', placeholder='Enter your email', required)
    div.form-group
      label Password:
      input.form-control(name='password', type='password', placeholder='Enter your password', required)
    input.btn.btn-primary.my-4(type='submit', value='SIGN UP')
  p.text-left.m-4: | If you are already registered go to #[a(href="/api/auth") login] page.