doctype html
html(lang='en')
  head
    meta(charset=UTF-8)
    title Books
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Abril+Fatface|Proza+Libre:400,700&display=swap&subset=latin-ext", rel='stylesheet')
    style
      include ./style.css
  body.text-dark

    div.wrapper

      div.wrapper-inner.bg-light

        include ./dashboard.pug

        include ./header.pug

        section.content
          div.p-5
            h2 We found #{numberOfBooks} matching book(s) based on your search
            div.card-group
              each book in books
                div.card.m-2
                    div.card-header.h5 #{book.title}
                    div.card-body 
                        p.card-text #{book.author}
                        a(href='/api/books/'+ book._id).btn.btn-info More...

        include ./footer.pug