/* General */
body {
  text-align: center;
  height: 100vh;
  font-family: "Proza Libre";
}

.wrapper {
  background-image: url(https://images.unsplash.com/photo-1554896541-dff010081afe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}

.wrapper-inner {
  margin: 0 auto;
  width: 1024px;
}

/* Dashboard */
.logo {
  font-family: "Abril Fatface";
}

span.badge {
  font-size: 1.4rem;
}

.nav-item {
  font-size: 2rem;
}

.nav ~ p {
  font-size: 1.2rem
}

/* Header */
header {
  position: relative;
}

div.border.rounded-circle {
  height: 200px;
  width: 200px;
  font-size: 1.6rem;
  position: absolute;
  top: 50px;
  right: 10px;
}

/* Content */
.card {
  display: inline-block;
  min-width: 46%;
  min-height: 150px;
}

/* Books styles */

hr {
  border: 2px solid white;
}

.box {
  width: 60%;
  margin: 0 auto;
}

.content {
  min-height: 80vh;
}

.form-group {
  width: 80%;
  margin: 2% auto;
  text-align: left;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}