doctype html
html(lang="en")
  head
    meta(charset=UTF - 8)
    title Books
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Abril+Fatface|Proza+Libre:400,700&display=swap&subset=latin-ext", rel="stylesheet")
    style
      include ./style.css
  body.text-dark
    .wrapper
      .wrapper-inner.bg-light
        include ./dashboard.pug

        include ./header.pug

        .content
          main.mb-5.box.text-left(style="font-size: 1.5rem")
            h2.my-5 User profile of: 
              span.font-weight-bold #{name}
            p Your mail: #{email}
            if (isEditor)
              p You are Editor. Awesome!
            else 
              p You aren't editor yet.
            h3.my-3 Your reviews:
            //- place for list of review books
            //- from router.get(/profile)

        include ./footer.pug
